body {
  background: #e0e5ec;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #353535;
  font-size: 2.5em;
}

h2 {
  font-weight: 800;
  text-align: center;
  font-size: 2em;
  color: #676767;
}

.frame {
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
}

button {
  margin: 5px;
  width: 100%;
  max-width: 200px;
}

.custom-btn {
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

/* Responsive Media Queries */
@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }
  
  p {
    font-size: 0.9em;
  }
  
  button {
    max-width: 180px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }
  
  p {
    font-size: 0.8em;
  }
  
  .frame {
    width: 95%;
    margin: 20px auto;
  }
  
  button {
    max-width: 150px;
  }
}

/* Custom Button Styles */
.btn-7 {
  background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgba(251,75,2,1);
  box-shadow: -7px -7px 20px 0px rgba(255,255,255,.9), -4px -4px 5px 0px rgba(255,255,255,.9), 7px 7px 20px 0px rgba(0,0,0,.2), 4px 4px 5px 0px rgba(0,0,0,.3);
  transition: all 0.3s ease;
}

.btn-7:before {
  height: 0%;
  width: 2px;
}

.btn-7:after {
  width: 0%;
  height: 2px;
}

.btn-7:hover {
  color: rgba(251,75,2,1);
  background: transparent;
}

.btn-7:hover:before {
  height: 100%;
}

.btn-7:hover:after {
  width: 100%;
}

.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgba(251,75,2,1);
  box-shadow: -7px -7px 20px 0px rgba(255,255,255,.9), -4px -4px 5px 0px rgba(255,255,255,.9), 7px 7px 20px 0px rgba(0,0,0,.2), 4px 4px 5px 0px rgba(0,0,0,.3);
  transition: all 0.3s ease;
}

.btn-7 span:before {
  width: 2px;
  height: 0%;
}

.btn-7 span:after {
  height: 2px;
  width: 0%;
}

.btn-7 span:hover:before {
  height: 100%;
}

.btn-7 span:hover:after {
  width: 100%;
}
